/* Fondo general del body */
body {
    background: linear-gradient(135deg, #0a0f1a, #1c2e4a); 
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 1.5rem;
}

/* Inputs y botones */
input[type="text"],
input[type="number"],
input[type="checkbox"],

button {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #3a4a5c;
    background-color: #1f2a38;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
button {
    background-color: #2d5a91;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4177b5;
}

#botonEditar {
    background-color: #91ff006e;
}

#botonEliminar {
    background-color: #ff0000;
}

/* Estilo para la lista de productos */
ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; 
}

li {
    background-color: #2a3b51;
    margin-bottom: 1.5rem;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.45);
}
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #17164d56;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
}